@import url(dashboards.css);

.charts{
    display: flex;
    align-items: center;
    gap: 30px;
    /*height: 50%;*/
    flex-direction: row;
    margin-bottom: 10px;
}

.kpis{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    /*border: red 1px solid;*/
}

.dash{
    display: none;
}