* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.navbar {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    /* background-color: #000000; */
    background-color: #567EBB;
    padding: 0 4vh;
    color: white;
    font-family: "Afacad", serif;
    font-weight: bold;
}

.botoes_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 1vh;
}

.navlogo{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 9dvw;
    height: 9dvh;
}

.navlogo img{   
    height: 6rem;
    width: auto;
    cursor: pointer;
}

.btn_contato, .btn_log {
    display: inline-block;
    color: white;
    text-align: center;
    border: none;
    width: auto;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: large;
    text-decoration: none;
    transition: 0.2s;
}

.btn_log{
    background: #003F6A;
}

.btn_log:hover{
    background: rgba(16, 106, 134, 0.4);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.nav-lateral{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2rem;
    width: 50vh;
    height: 90vh;
    background: #567EBB;
    gap: 1rem;
}

.nav-logo-user{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 30%;
    border-radius: 50%;
    background-color: white;
}

.nav-logo-user img{
    height: 70%;
}

.nav-botoes{
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn_nav, .btn_nav_sair{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    width: 80%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    background: #77AFD4;
    height: 8vh;
}

.btn_nav:hover{
    background: #6599bc;
}

#sair{
    width: 45%;
}

#atual{
    font-weight: bold;
}

.nav-texto h1{
    color: white;
    font-size: 1.5rem;
}

.container-dash{
    display: flex;
    flex-direction: column;
    height: 90vh; 
    width: 100vw; 
}

.container-kpis{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 30vh;
    width: 100%; 
}

.kpis{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
}

.kpi{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #77AFD4;
    height: 25vh;
    padding: 1rem;
    width: 50dvh;
    border-radius: 15px;
}

.kpi h1{
    font-weight: bold;
}

.kpi-texto h1{
    color: white;
    font-size: 20px;
}

.kpi-media, .kpi-percentual, .kpi-componente{
    font-size: 25px;
}

.kpi-media h1{
    color: #F0FB8F;
}

.kpi-percentual h1{
    color: #003F69;
}

.kpi-componente h1{
    color: #D93E3E;
}

.container-grafico{
    display: flex;
    justify-content: center;
    height: 60dvh;
}

.graficos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.grafico {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    background-color: #77AFD4;
    width: 92%; 
    height: 95%;
    border-radius: 15px;
    padding: 0.2rem;
}

.titulo {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    width: 100%;
    margin: 5px;
}

.titulo p {
    font-size: 20px;
    color:#003F6A;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.servidores {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-sizing: border-box;
}

.servidor {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 0.4rem 0;
    background-color: #77AFD4;
    border-radius: 10px;
}

.servidor div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#normal {
    color: #98FB98; 
}

#atencao {
    color: #F0FB8F;
}

#critico {
    color: #D93E3E;
}

.servidor p {
    margin: 0;
    color: white;
    text-align: center;
}

.btn-visualizar {
    background-color: #567EBB;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    font-weight: bold;
}

.btn-visualizar:hover {
    background-color: #455a8f;
}

hr {
    width: 100%;
    margin: 0;
    border: 1px solid white;
    border-radius: 100%;
}

.modal {
    display: flex;
    position: fixed;
    flex-direction: column;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    align-content: center;
}

.modal .content {
    display: flex;
    background-color: aliceblue;
    justify-self: center;
    flex-direction: column;
    border-radius: 20px;
    width: 80%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow-y: scroll;   
    min-height: 70%;
    max-height: 90%;
}

.componente{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.tituloComp{
    color: #003F6A;
    font-size: 30px;
    margin: .5%;
    /* border: red 1px solid; */
    width: 100%;
    /* margin-bottom: 1rem;  */
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #77AFD4;
    border-radius: 25px;
    padding: 1rem;
    height: 30vh;
    width: 30vw;
    margin: 0.5rem;
}

.subtituloComp{
    color: aliceblue;
    font-size: 20px;
    margin: 0.5rem;
}