@import url(components.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
}

.header h1 {
    color: var(--azulEscuro);
    font-size: 32px;
    margin-bottom: 20px;
}
.container-filtro{
    /* border: red 1px solid; */
    min-height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.nav-lateral{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2rem;
    width: 300px;
    height: 100vh;
    background: #567EBB;
    gap: 1rem;
    position: fixed;
    color: white;
}

.nav-logo-user{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 30%;
    border-radius: 50%;
    background-color: white;
}

.nav-logo-user img{
    height: 60%;
}

.nav-botoes{
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn_nav, .btn_nav_sair{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    width: 80%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    background: #77AFD4;
    height: 8vh;
}

.btn_nav:hover{
    background: #6599bc;
}

#sair{
    width: 45%;
}

#atual{
    font-weight: bold;
}


.filtroMaquina{
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    background-color: var(--azulClaro);
    border: 2px solid var(--azulEscuro);
    height: 90%;
    width: 50%;

}

.mainContainer{
    margin-left: 45vh;
}

.profilePicture{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 30%;
    border-radius: 50%;
    background-color: white;
}

.filtroGrafico{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    height: 2%;
}

.buttonFiltro{
    width: 20%;
    border: none;
    border-radius: 10px;
}

.buttonFiltro:hover{
    background-color: var(--azulEscuro);
    color: white;
}

canvas{
    max-width: 100%;
    max-height: 70%;
}
