body {
    font-family: Arial, sans-serif;
    background: #f5f8fa;
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 15px;
    display: flex;
}

.grafico {
    position: relative;
    width: 100%;
    background: white;
    border-radius: 8px;
    padding: 18px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    width: 490px;
    height: 313px;
}

.grafico canvas {
    width: 100% !important;
    height: 100% !important;
}

.container {
    flex: 1;
    padding: 20px;
    max-width: 100%;

}

.header {
    margin-bottom: 25px;
    text-align: start;
}

h1 {
    color: #1a73e8;
    margin: 0;
    font-size: 26px;
    font-weight: 600;
}

.kpis {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    margin-bottom: 25px;
}

.kpi {
    background: white;
    border-radius: 8px;
    padding: 18px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease;
    width: 455px;
    display: flex;
    align-items: space-between;
    justify-content: space-around;

}

hr {}

.kpi:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}

.kpi-comeco {
    color: #5f6368;
    font-size: 18px;
    margin-bottom: 12px;
}



.kpi-meio {
    color: #1a73e8;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 6px;
}

.kpi-fim {
    color: #70757a;
    font-size: 15px;
}

.content {
    display: flex;
    gap: 20px;
}

.graficos {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.kpi-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}


.grafico-titulo {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 18px;
    color: #202124;
    width: 10px;
}


.lista-processos {
    width: 390px;
    background: white;
    border-radius: 8px;
    padding: 18px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.titulo-lista {
    font-weight: 600;
    margin-bottom: 18px;
    font-size: 18px;
    color: #1a73e8;
}

.processo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 2px solid #eee;
}

.processo:last-child {
    border-bottom: none;
}


.info-processo {
    display: flex;
    align-items: center;
    gap: 12px;
    border-right: 2px solid #eee;
    padding-right: 12px;
}

.nome-processo {
    font-weight: 500;
    font-size: 14px;
    min-width: 120px;
}

.uso-cpu {
    background: #e8f0fe;
    color: #1a73e8;
    padding: 4px 10px;
    border-radius: 16px;
    font-weight: bold;
    font-size: 13px;
    min-width: 55px;
    text-align: center;
}

.botao-encerrar {
    background: #ff4444;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    transition: 0.6s;
}

.botao-encerrar:hover {
    background: #8f1515;
}