@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

html, body {
    margin: 0;
    padding: 0;
    /* color: rgb(221, 85, 12); */
    overflow: hidden;
}

.kdam-thmor-pro-regular {
    font-family: "Kdam Thmor Pro", serif;
    font-weight: 400;
    font-style: normal;
  }

.close_confirmacao {
    width: 100%;
    height: fit-content;
    font-size: 40px;
    font-weight: 400;
    color: #74C365;
    text-align: right;
}

.close_confirmacao:hover {
    cursor: pointer;
}

.close {
    width: 100%;
    height: fit-content;
}

.close:hover {
    cursor: pointer;
}

.imagem_check {
    width: 50%;
    height: 80%;
    background-image: url(../assets/icon/sucesso.svg);
    background-size: cover;
}

.texto_confirmacao {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #74C365;
}

.close_erro {
    width: 100%;
    height: fit-content;
    font-size: 40px;
    font-weight: 400;
    text-align: right;
    color: #FF0800;
}

.close_erro:hover {
    cursor: pointer;
}

.texto_erro {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #FF0800;
}

.imagem_erro {
    width: 50%;
    height: 80%;
    background-image: url(../assets/icon/erro.svg);
    background-size: cover;
}

.imagem_erro_acessado {
    width: 100px;
    height: 100px;
    background-image: url(../assets/icon/erro.svg);
    background-size: cover;
}

.screen-dash-user {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.container{
    display: flex;
    height: 100vh;
}

.nav-lateral{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 2rem;
    width: 45vh;
    background: #567EBB;
    gap: 1rem;
}


.nav-logo-user{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    border-radius: 50%;
    background-color: white;
}


.nav-logo-user img{
    width: 70%;
}

.main-content-user{
    width: 100%;
    height: 100%;
    margin-left: 2%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    gap: 30px;
    padding-bottom: 10%;
}

.nav-item {
    text-decoration: none;
    font-size: 40px;
    color: white;
    font-weight: 400;
}

.btn_nav_ativado {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    width: 80%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    background: #6599bc;
    height: 8vh;
}

.selecionado {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #157ABC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    gap: 5px;
}

.imagem-perfil {
    border-radius: 80%;
}

.legenda_ola{
    font-size: 24px;
    color: #ffffff;
    font-weight: 600;
}

.selecionado img {
    width: 50px;
}

.opcao {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 5px;
    padding-left: 20px;
}

.opcao img {
    width: 50px;
}

.nav-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dataHora {
    width: 95%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
}

.horario {
    font-size: 30px;
    color: black;
    font-weight: 600;
    text-align: right;
}

.superior_pagina {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cabecalho {
    width: 50%;
    height: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titulo_pagina {
    color: black;
    font-size: 40px;
    font-weight: 800;
    text-align: left;
}

a {
    text-decoration: none;
}

.circulo_imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 35px;
    border: 2px solid black;
    border-radius: 100%;
}

.circulo_imagem:hover {
    cursor: pointer;
}

.cabecalho {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3%;
}

.input-search {
    width: 25%;
    height: (fit-content + 1%);
    font-size: 24px;
    border: 2px solid black;
    border-radius: 30px;
    padding: 0.5%;
    color: #c8c8c8;
}

.filtro {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;
}

.filtro:hover {
    cursor: pointer;
}

.preferencias {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;
}

.icon_filtro {
    width: 40px;
    height: 40px;
}

.select-filtro {
    height: 100%;
    font-size: 24px;
    border: 2px solid black;
    border-radius: 30px;
    padding: 0.5%;
    color: #c8c8c8;
}

select:hover {
    cursor: pointer;
}

#div_inferior {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
    overflow-y: scroll;
}

.cardMaior {
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    border: none;
    border-radius: 10%;
    background-color: #70A6B7;
    padding: 2%;
}

.cardMenor {
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    border: none;
    border-radius: 10%;
    background-color: #FFF;
    padding-left: 3%;
}

.cabecalho-card {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.textoCard {
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}
.esquerda-cabecalho-card {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}

.circulo_icone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 48px;
    border: 2px solid black;
    border-radius: 100%;
    background-color: #FFF;
}

.icone-edit {
    width: 100%;
    height: 100%;
}

.icone-edit:hover {
    cursor: pointer;
}

.imagem-perfil {
    border-radius: 100%;
}

.imagem-perfil-card {
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.titulo-card {
    width: 60%;
    color: white;
    font-weight: 24px;
    font-weight: 600;
    text-align: left;
}

#modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2%;
    border: none;
    margin-left: 27.5%;
    margin-top: 5%;
}

.superior-modal {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.esquerda-superior-modal {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}

.circulo_imagem-modal {
    width: 15%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 100%;
}

.circulo_imagem-modal-v {
    width: 11%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FF0800;
    border-radius: 100%;
}

.circulo_imagem-modal-excluir {
    width: 18%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FF0800;
    border-radius: 100%;
}

.icon-modal {
    width: 70%;
    height: 70%;
}

.direita-superior-modal {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.close {
    width: 70%;
    height:70%;
}

.close:hover {
    cursor: pointer;
}

.icon:hover {
    cursor: pointer;
}

.inferior-modal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.esquerda-inferior-modal {
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 3%;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.descricao-modal {
    color: black;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
}

.obrigatorio {
    color: #FF0800;
    font-size: 36px;
    font-weight: 600;
    text-align: left;
}

.input-modal {
    width: 100%;
    height: 100%;
    font-size: 24px;
    border: 2px solid black;
    border-radius: 30px;
    padding: 0.5%;
    color: #c8c8c8;
}

.direita-inferior-modal {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.borda-imagem {
    width: 50%;
    height: 65%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10%;
    padding: 5%;
    gap: 5%;
}

.fundo-imagem {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c8c8c8;
}

.upload-imagem {
    width: 80%;
    height: 80%;
    border-radius: 100%;
}

.upload-imagem:hover{
    cursor: pointer;
}

.regiao-foto {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.regiao-botao {
    align-items: flex-end;
    justify-content: center;
}

.botao-modal {
    width: 100%;
    height: 100%;
    color: white;
    border-radius: 20px;
    text-align: center;
    font-size: 24px;
    padding: 1%;
    background-color: #2B4C7E;

}

.botao-modal:hover{
    cursor: pointer;
}

.titulo_modal_excluir {
    color: #FF0800;
    font-size: 40px;
    font-weight: 800;
    text-align: left;
}

.inferior-modal-excluir {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.mensagem-excluir {
    color: #FF0800;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.icon-delete {
    width: 100%;
    height: 100%;
}

.icon-vermelho {
    width: 100%;
    height: 100%;
}

.botao-modal-excluir {
    width: 100%;
    height: 100%;
    color: white;
    border-radius: 20px;
    text-align: center;
    font-size: 24px;
    background-color: #FF0800;
    border: none;
}

.botao-modal-excluir:hover {
    cursor: pointer;
}

.area-botao-excluir {
    width: 30%;
    height: 22%;
}

.div_ola {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/*
RESPONSIVIDADE
*/

/*
width: 1920px;
height: 800px;
*/

@media (min-width: 2000px) {
    #div_inferior {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 1500px) {
    #div_inferior {
        grid-template-columns: 1fr 1fr;
    }

    .nav-logo-user {
        width: 80%;
        padding-top: 8%;
    }
    
    .nav-logo-user img{
        width: 80%;
        height: 80%;
    }

    .nav-item {
        text-decoration: none;
        font-size: 24px;
        color: white;
        font-weight: 400;
    }
    
    #modal {
        width: 400px;
        padding-bottom: 9%;
        padding-top: 2%;
    }

    .superior-modal {
        width: 100%;
        height: 10%;
    }

    .circulo_imagem-modal {
        width: 60%;
        height: 90%;
        padding: 5px;
    }

    .icon-modal {
        width: 30px;
        height: 30px;
    }
    
    .inferior-modal {
        padding-top: 5%;
        flex-direction: column;
        justify-content: none;
        align-items: center;
        gap: 12%;
    }

    .esquerda-inferior-modal {
        width: 90%;
    }

    .input-modal {
        width: 70%;
    }

    .descricao-modal {
        font-size: 20px;
    }

    .borda-imagem {
        width: 50%;
        height: 100%;
        padding-bottom: 9%;
        margin-top: 2%;
    }

    .fundo-imagem {
        width: 200px;
        height: 200px;
    }

    .regiao-botao {
        padding-bottom: 9%;
    }

    .direita-superior-modal {
        height: 100%;
        width: 30px;
        height: 30px;
    }

    .circulo_imagem-modal-v {
        width: 11%;
        height: 45%;
    }

    .icon-delete {
        width: 25px;
        height: 25px;
    }

    .circulo_imagem-modal-excluir {
        width: 30px;
        height: 30px;
    }

    .icon-vermelho {
        width: 30px;
        height: 30px;
    }

    .titulo_modal_excluir {
        font-size: 24px;
    }

    .inferior-modal-excluir {
        width: 90%;
        padding-top: 5%;
    }

    .mensagem-excluir {
        font-size: 20px;
    }

    .area-botao-excluir {
        width: 50%;
        height: 100%;
        padding: 10%;
    }
}

@media (max-width: 1000px) {

    .screen-dash-user {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #div_inferior {
        grid-template-columns: 1fr;
    }

    .side-bar-user {
        width: 100%;
        height: 23%;
        top: 0;
        flex-direction: column;
    }

    .nav-logo-user {
        width: 20%;
        padding-left: 5%;
        padding-top: 2%;
    }
    
    .nav-logo-user img{
        width: 100px;
        height: 100px;
    }

    .nav-list {
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .nav-list-options {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .opcao {
        padding-top: 10px;
        padding-bottom: 10px;
        gap: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .opcao img {
        width: 36px;
        height: 36px;
    }

    .nav-item {
        font-size: 60%;
        font-weight: 600;
    }

    .nav-item img {
        width: 80%;
    }

    .selecionado {
        padding: 10px;
        gap: 5px;
    }

    .div_ola {
        display: none;
    }

    .main-content-user {
        margin-top: 55%;
        margin-left: 2%;
    }

    .titulo_pagina {
        font-size: 24px;
    }

    .circulo_imagem {
        width: 32px;
        height: 30px;
    }

    .horario {
        font-size: 20px;
    }

    .input-search {
        width: 150px;
        height: (fit-content + 2%);
        font-size: 24px;
        margin-top: 3%;
    }

    .icon_filtro {
        width: 36px;
        height: 36px;
    }

    .select-filtro {
        width: fit-content;
        height: (fit-content + 1%);
        font-size: 20px;
    }

    .preferencias {
        gap: 1%;
    }

    #modal {
        width: 400px;
        padding-bottom: 9%;
    }

    .superior-modal {
        width: 100%;
        height: 10%;
    }

    .esquerda-superior-modal {
        width: 30%;
    }

    .circulo_imagem-modal {
        width: 30px;
    }

    .icon-modal {
        width: 30px;
        height: 30px;
    }
    
    .inferior-modal {
        padding-top: 5%;
        flex-direction: column;
        justify-content: none;
        align-items: center;
        gap: 12%;
    }

    .esquerda-inferior-modal {
        width: 90%;
    }

    .descricao-modal {
        font-size: 20px;
    }

    .borda-imagem {
        width: 80%;
        height: 100%;
        padding-bottom: 9%;
    }

    .fundo-imagem {
        width: 200px;
        height: 200px;
    }

    .regiao-botao {
        padding-bottom: 9%;
    }

    .direita-superior-modal {
        height: 100%;
        width: 30px;
        height: 30px;
    }

    .circulo_imagem-modal-v {
        width: 11%;
        height: 45%;
    }

    .icon-delete {
        width: 25px;
        height: 25px;
    }

    .circulo_imagem-modal-excluir {
        width: 30px;
        height: 30px;
    }

    .icon-vermelho {
        width: 30px;
        height: 30px;
    }

    .titulo_modal_excluir {
        font-size: 24px;
    }

    .inferior-modal-excluir {
        width: 90%;
        padding-top: 5%;
    }

    .mensagem-excluir {
        font-size: 20px;
    }

    .area-botao-excluir {
        width: 50%;
        height: 100%;
        padding: 10%;
    }
}