@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
    /* color: rgb(221, 85, 12); */
}

body::-webkit-scrollbar {
    display: none; /* oculta a barra de rolagem */
}

.navbar {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 0 4vh;
    color: white;
    font-family: "Afacad", serif;
    font-weight: bold;
}

.botoes_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 1vh;
}

.navlogo{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 9dvw;
    height: 9dvh;
}

.navlogo img{   
    height: 6rem;
    width: auto;
    cursor: pointer;
}

.btn_contato, .btn_log {
    display: inline-block;
    color: white;
    text-align: center;
    border: none;
    width: auto;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: large;
    text-decoration: none;
    transition: 0.2s;
}

.btn_contato{
    background: #003F6A;
}

.btn_contato:hover{
    background: rgba(0,49,82, 0.4);
}

.banner_fundo{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/imgs/melhor.jpg); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

/* .config_cadeado {
    height: 70vh;
} */

.conteudo_banner{
    display: flex;
    align-items: center;
    margin-left: 100px;
    height: 100vh;
    width: 100vw;
}

.coluna_banner{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo_banner{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    /* border: 1px solid red; */
    width: 40vw;
}

.pix{
    width: 7vw;
    margin-bottom: 2vh;
}

.techpix{
    width: 24vw;
    height: 16vh;
    margin-bottom: 4vh;
}

.slogan{
    display: flex;
    /* border: 1px solid red; */
    font-family: 'Karla';
    width: 40vw;
    font-size: 50px;
    color: white;
    text-align: center;
}

.slogan span {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(90deg, #567EBB 35%, #FFFAFF 80%);  
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-weight: 800;
}

.botao{
    display: flex;
    margin-top: 5vh;
}

.botoes_banner{
    border: none;
    color: white;
    width: 10vw;
    height: 8vh;
    background-color: #606D80;
    cursor: pointer;
    font-family: "Afacad", serif;
}

.separacao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 20vh;
    background-color: white;
}

.separacao span{
    width: 60vw;
    font-family: 'Karla';
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(90deg, #001228 9%, #567EBB 51%, #010304 91%);  /* "90deg" Aplica o degradê horizontalmente */
    -webkit-background-clip: text; /*degrade só no texto*/
    -webkit-text-fill-color: transparent; /*deixa a cor do texto transparente para que o degrade apareça*/
    font-weight: 800;
    
}

.imagem_impacto {
    width: 50vw; 
    height: 100vh; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.principal_impacto{
    display: flex;
    height: 100vh; 
    width: 100vw;
    flex-direction: row; /*ISSO QUE DEIXOU A IMAGEM AO LADO*/
    align-items: center;
    background-color: #01010D;
}

.principal_impacto_2{
    display: flex;
    height: 100vh; 
    width: 100vw;
    flex-direction: row-reverse; 
    align-items: center;
    background-color: #01010D;
}

.principal_impacto .texto{
    background-image: url(../assets/imagens_inicial/direita.png); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.principal_impacto .texto p{
    font-family: "Inter", sans-serif;
    width: 40vw;
    margin-top: 100px;
    color: white;
    font-size: 22px;
}

.principal_impacto .texto span{
    width: 45vw;
    font-size: 36px;
    font-family: 'Karla';
    font-weight: 800;
    text-align: center;
    color: white;
}

.principal_impacto_2 .texto{
    background-image: url(../assets/imagens_inicial/esquerda.png); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.principal_impacto_2 .texto p{
    font-family: "Inter", sans-serif;
    width: 40vw;
    margin-top: 100px;
    color: white;
    font-size: 22px;
}

.principal_impacto_2 .texto span{
    width: 45vw;
    font-size: 36px;
    font-family: 'Karla';
    font-weight: 800;
    text-align: center;
    color: white;
}

.texto button{
    margin-top: 30px
}

.botoes_impacto{
    cursor: pointer;
    border: none;
    border-radius: 15px;
    color: white;
    width: 10vw;
    height: 8vh;
    background-color: #003F6A;
}

.separacao_solucao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 20vh;
    background-image: url(../assets/imagens_inicial/fundo_rowpage.png); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.separacao_solucao span{
    width: 45vw;
    font-size: 40px;
    font-family: 'Karla';
    font-weight: 800;
    text-align: center;
    color: white;
    /* background: linear-gradient(90deg, #567EBB 12%, #FFFFFF 91%);  
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  */
}

.nossa_solucao{
    display: flex;
    background-image: url(../assets/imagens_inicial/fundo_rowpage.png); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: #ffffff;
    height: 105vh;
    width: 100vw;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
}

.imagem_solucao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 75vh; 
}

.imagem_solucao img {
    width: 95%; 
    height: 100%;
}

.solucao_texto{
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: space-around;
    height: 100vh;
    width: 50vw;
    align-items: center;
}

.solucao_texto span{
    color: #FFFFFF;
    width: 80%;
    font-family: "Inter", sans-serif;
    font-size:20px;
    text-align: justify;
}

.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 10vh;
    background-color: #FFFAFF;
}

.footer span{
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 12px;
    color: black;
}

/* Responsidade até 1200px */

@media (max-width: 1200px) {
    .nav-bar, .principal_impacto, .principal_impacto_reverso, .separacao, .nossa_solucao {
        flex-direction: column;
    }
    
    .solucao_texto span{
        margin-bottom: 20px;
    }

    .nossa_solucao{
        height: 130vh;
    }

    .nav-bar{
        height: 10vh;
    }

    .separacao {
        height: 15vh;
    }
    
    .separacao span{
        font-family: 'Lora';
        text-align: center;
        font-size: 20px;
    }

    .banner_fundo{
        display: flex;
        width: 100vw;
        height: 70vh;
        justify-content: flex-start;
        align-items: center;
        padding-left: 5vw;
    }

    .coluna_banner{
        align-items: center;
    }

    .logo_banner{
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 40vw;
        height: auto;
    }

    .pix{
        width: 10%;
        margin-bottom: 2vh;
    }
    
    .techpix{
        width: 60%;
        max-width: 200px;
        height: auto;
        margin-bottom: 4vh;
    }
    
    .slogan{
        display: flex;
        font-family: 'Karla';
        width: 80%;
        max-width: 350px;
        font-size: 16px;
        color: white;
        text-align: left;
    }
    
    .slogan span {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        background: linear-gradient(90deg, #567EBB 35%, #FFFAFF 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 800;
    }

    .logo{
        display: none;
    }

    .botoes_banner{
        width: 20vh;
        font-size: 12px;
    }

    .principal_impacto, .principal_impacto_2 {
        display: flex;
        flex-direction: column;
        width: 100vw; 
        height: 100vh;
        align-items: center;
        justify-content: center;
        background-image: url(../assets/imagens_inicial/direita.png); 
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat;
    }

    
    .principal_impacto .texto,
    .principal_impacto_2 .texto {
        background-image: none !important;
    }


    .principal_impacto .texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .principal_impacto .texto p{
        width: 80vw; 
    }

    .principal_impacto .texto span {
        font-size: 36px;
        width: 80vw; 
        font-weight: 800;
        text-align: center;
        
    }

    .principal_impacto_2 .texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .principal_impacto_2 .texto p{
        width: 80vw; 
    }

    .principal_impacto_2 .texto span {
        font-size: 36px;
        width: 80vw; 
        font-weight: 800;
        text-align: center;
        
    }

    .nossa_solucao{
        background-image: url(../assets/imagens_inicial/direita.png);  
    }

    .separacao_solucao{
        background-image: url(../assets/imagens_inicial/direita.png);  
    }

    .solucao_texto{
        width: 80vw; 
    }

    .botoes_impacto, .botoes_login{
        width: 40vw;
        text-align: center;
    }

    .imagem_impacto, .imagem_solucao {
        display: none;
    }

    .footer{
        background-color: #FFFFFF;
    }
}

/* Responvidade até 700px */

@media (max-width: 700px) {
    .nav-bar, .principal_impacto, .principal_impacto_reverso, .separacao, .nossa_solucao {
        flex-direction: column;
    }

    .conteudo_banner{
        align-items: center;
        justify-content: center;
    }

    .config_cadeado{
        display: none;
    }
    
    .solucao_texto span{
        margin-bottom: 20px;
    }

    .nossa_solucao{
        height: 130vh;
    }

    .nav-bar{
        height: 10vh;
    }

    .separacao {
        height: 10vh;
    }
    
    .separacao span{
        width: 80vw;
        font-family: 'Lora';
        text-align: center;
        font-size: 16px;
    }

    .banner_fundo{
        display: flex;
        width: 100vw;
        height: 90vh;
        background-color: #001228;
        padding: 0px;
    }

    .conteudo_banner{
        display: flex;
        align-items: center;
        margin: 0px;
        width: 100vw;
        height: 50vh;
    }
    

    .coluna_banner{
        align-items: center;
    }

    .logo_banner{
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 40vw;
        height: auto;
    }

    .pix{
        width: 10vw;
        margin-bottom: 2vh;
    }
    
    .techpix{
        width: 50vw;
        height: auto;
        margin-bottom: 4vh;
    }
    
    .slogan{
        display: flex;
        font-family: 'Karla';
        width: 80%;
        max-width: 350px;
        font-size: 16px;
        color: white;
        text-align: left;
    }
    
    .slogan span {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        background: linear-gradient(90deg, #567EBB 35%, #FFFAFF 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 800;
    }

    .logo{
        display: none;
    }


    .botoes_banner{
        width: 20vh;
        font-size: 12px;
    }



    /* Aplica um mesmo fundo */
    .principal_impacto, .principal_impacto_2 {
        display: flex;
        flex-direction: column;
        width: 100vw; 
        height: 100vh;
        align-items: center;
        justify-content: center;
        background-image: url(../assets/imagens_inicial/direita.png); 
        background-size: cover; 
        background-position: center;
    }

    /* Remove imagem */
    .banner_fundo,
    .principal_impacto .texto,
    .principal_impacto_2 .texto {
        background-image: none !important;
    }

    /* Para deixar o fundo antigo */
    /* .banner_fundo {
        background-image: url(../assets/imagens_inicial/fundo_banner.png);
    } */


    .principal_impacto .texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .principal_impacto .texto p{
        width: 80vw; 
    }

    .principal_impacto .texto span {
        font-size: 25px;
        width: 80vw; 
        font-weight: 800;
        text-align: center;
    }

    .principal_impacto_2 .texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .principal_impacto_2 .texto p{
        width: 80vw; 
    }

    .principal_impacto_2 .texto span {
        font-size: 25px;
        width: 80vw; 
        font-weight: 800;
        text-align: center;
    }


    .botao_login{
        width: 20vw;
        text-align: center;
    }
    
    .botoes_impacto {
        width: 30vw;
    }
    
    .separacao_solucao{
        background-image: none !important;
        background-color: #001228;
    }

    .separacao_solucao span{
        font-size: 26px;
    }
    
    .nossa_solucao{
        display: flex;
        height: 220vh;
        align-items: center;
        background-image: url(../assets/imagens_inicial/direita.png); 
    }
    
    .solucao_texto {
        display: flex;
        width: 100vw;
        height: 220vh;
    }

    .solucao_texto span{
        text-align: center;
        justify-content: space-around;
        font-size: 20px;
    }
    
    
    .imagem_impacto, .imagem_solucao {
        display: none;
    }
    
    .footer{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 10vh;
        background-color: #FFFFFF;
    }

    .footer span{
        font-family: 'Lora';
        text-align: center;
        font-size: 20px;
        color: black;
    }
}

@media (max-height: 670px){
    .principal_impacto, .principal_impacto_2 {
        display: flex;
        flex-direction: column;
        width: 100vw; 
        height: 140vh;
        align-items: center;
        justify-content: center;
        background-image: url(../assets/imagens_inicial/direita.png); 
        background-size: cover; 
        background-position: center;
    }

    .footer{
        background-color: #FFFFFF;
    }
    .footer span{
        color: black;
    }
}