.serverElement{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    border-bottom: #BDB1B1 1px solid;
}

.serverInfo{
    font-weight: 200;
    font-size: 20px;
    text-align: center;
}

.serverElement:hover{
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
    background-color: #0181da;
    color: white;
}

:host([selected="yes"]) .serverElement {
    background-color: #003F69;
    color: white;
}